java_ds_algo_springboot/src/main/resources/schemas/getVersionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.adeptra.net/Adeptra/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.adeptra.net/Adeptra/">
    <xsd:include schemaLocation="common.xsd"></xsd:include>
    <xsd:element name="getVersionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="version" type="xsd:string" />
                <xsd:element name="status" type="tns:statusType"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>