java_ds_algo_springboot/src/main/resources/schemas/setCaseDeleteRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.adeptra.net/Adeptra/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.adeptra.net/Adeptra/">
    <xsd:element name="setCaseDeleteRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="caseId" type="xsd:string"
                    maxOccurs="1" minOccurs="1"></xsd:element>
                <xsd:element name="reason" type="xsd:string"
                    maxOccurs="1" minOccurs="0"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>